body {
    margin: 0;
}

.ui-datatable .ui-cell-editor,
.ui-datatable .ui-cell-editor-output
{
    display:block;
    height: 100%;
    width: 100%;
}

.ui-datatable td.ui-editable-column
{
    margin: 0;
    padding: 0;
}

.ui-datatable .ui-datatable-data .ui-datatable-odd
{
    background-color: #ffffff;
}

.ui-datatable .ui-datatable-data .ui-cell-editor-input textarea,
.ui-datatable .ui-datatable-data .ui-cell-editor-input input
{
    width: 100%;
    border: none;
    border-radius: 0;
    padding: 0;
    box-shadow: none;
}

.ui-state-highlight.ui-cell-editing
{
    background: none;
}

